ekstremverdi.py
ekstremverdi.ipynb
debug.log
barsnes_3dogn_sno.txt
ekstremverdi.R
gev_colestawn_prior_with_sep_gev_dist.R
mcmc.R
rpy2_test.py
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
klima_comp.py
klima_data.py
klima_plot.py
test.py
utvikling.ipynb
.ipynb_checkpoints
Hoemstinden_ekstrem_rr.csv
Hoemstinden_ekstrem_rr3.csv
Hoemstinden_ekstrem_sdfsw3d.csv
Hoemstinden_høgde.csv
Hoemstinden_klimadata.csv
Hoemstinden_vindretning_generell.csv
Hoemstinden_vindretning_nedbør.csv
Hoemstinden_vindretning_snø.csv
Hoemstinden.csv
Kartberget.csv
Rekdal_ekstrem_rr.csv
Rekdal_ekstrem_rr3.csv
Rekdal_ekstrem_sdfsw3d.csv
Rekdal_høgde.csv
Rekdal_klimadata.csv
Rekdal_vindretning_generell.csv
Rekdal_vindretning_nedbør.csv
Rekdal_vindretning_snø.csv
Rekdalshesten_ekstrem_rr.csv
Rekdalshesten_ekstrem_rr3.csv
Rekdalshesten_ekstrem_sdfsw3d.csv
Rekdalshesten_høgde.csv
Rekdalshesten_klimadata.csv
Rekdalshesten_vindretning_generell.csv
Rekdalshesten_vindretning_nedbør.csv
Rekdalshesten_vindretning_snø.csv
Steinhaugen_ekstrem_rr.csv
Steinhaugen_ekstrem_rr3.csv
Steinhaugen_ekstrem_sdfsw3d.csv
Steinhaugen_høgde.csv
Steinhaugen_klimadata.csv
Steinhaugen_vindretning_generell.csv
Steinhaugen_vindretning_nedbør.csv
Steinhaugen_vindretning_snø.csv
Storhaugen_ekstrem_rr.csv
Storhaugen_ekstrem_rr3.csv
Storhaugen_ekstrem_sdfsw3d.csv
Storhaugen_høgde.csv
Storhaugen_klimadata.csv
Storhaugen_vindretning_generell.csv
Storhaugen_vindretning_nedbør.csv
Storhaugen_vindretning_snø.csv
