ekstremverdi.py
ekstremverdi.ipynb
debug.log
barsnes_3dogn_sno.txt
ekstremverdi.R
gev_colestawn_prior_with_sep_gev_dist.R
mcmc.R
rpy2_test.py
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
klima_comp.py
klima_data.py
klima_plot.py
test.py
utvikling.ipynb
.ipynb_checkpoints
